body{
    text-align: center;
    background-color: black;
}
#container{
    width:80vw;
    background-color: cadetblue;
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding:70px 0;
}
.header{
    background-color: forestgreen;
    background-image:url("../images/header.jpg");
    height:200px;
    width:900px;
    margin:auto;
}
#quiz{
    background-color: darkgrey;
    height: 800px;
    width:900px;
    margin:auto;
}
#question1{
    background-image:url("../images/question1.jpg");
    display:none;
    width:700px;
    height:700px;
}
#question2{
    background-image:url("../images/question2.jpg");
    display:none;
    width:700px;
    height:700px;
}