body{
    text-align: center;
    background-color: slategrey;
}
#container{
    width:80vw;
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding:70px 0;
}
.header{
    background-color: forestgreen;
    background-image:url("../images/header.jpg");
    height:200px;
    width:900px;
    margin:auto;
}
#quiz{
    background-color: white;
    height: 900px;
    width:900px;
    margin:auto;
}